
  <body>
    <div class="container">

      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
              <span class="sr-only">InstagramClone</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "InstagramClone", user_path(current_user.id), class: "navbar-brand" %>
          </div>
          <div id="gnavi" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/blogs/new">新規投稿</a></li>
              <li><a href="/blogs">投稿一覧</a></li>
              <li><%= link_to "マイページ", user_path(current_user.id) %></li>
            </ul>
          </div>

        </div>
      </nav>

      <div class="content">

        <section class="user_profile">
          <h3><%= @user.name %>のページ</h3>
          <%= form_with(model: @user, local: true) do |form| %>
            <div class="user_profile_image">
              <%= form.label "プロフィール画像" %>
              <%= image_tag @user.image %>
              <p>↓画像を変更する
              <%= form.file_field :image %></p>
              <%= form.hidden_field :image_cache %>
            </div>
            <div class="user_profile_email">
              <label>登録メールアドレス</label>
              <%= @user.email %>
            </div>
            <div>
              <%= form.submit %>
            </div>
          <% end %>
        </section>

        <section class="user_profile">
          <h3>お気に入り投稿一覧</h3>
          <% @favorites_blogs.each do |favorites_blog| %>
            <p class="favorite_blog_image"><%= image_tag favorites_blog.image %></p>
          <% end %>
        </section>

      </div> <!--End of content-->

      <footer class="footer">
        <p>Hideki Fujimoto test application</p>
      </footer>
    </div>
  </body>
